[*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue}]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
# added:
end_of_line = lf
max_line_length = 100

[.nowignore]  # added
insert_final_newline = false

[*.svg]  # added
insert_final_newline = false
indent_style = tab
indent_size = 2
end_of_line = lf
